/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
button {
  @apply hover:border-2 hover:border-white disabled:border-slate-200 disabled:!bg-slate-50 disabled:text-slate-500 disabled:shadow-none disabled:ring-0;
}

@tailwind components;
.custom-bg-gradient {
  background: linear-gradient(45deg, rgb(6, 61, 93), rgb(21, 121, 173));
}
.custom-href {
  @apply hover:border-2 hover:border-white disabled:border-slate-200 disabled:!bg-slate-50 disabled:text-slate-500 disabled:shadow-none disabled:ring-0;
}

.button-login {
  background-image: linear-gradient(180deg,#593d69 0,#735182 50%,#664575);
  box-shadow: inset 0 0 0 0 #593d69,inset -1px -3px 0 0 #735182,inset 0 2px 4px 2px #664575,0 0 0 0 rgba(0,0,0,.2);
}

.button-provider {
  background-image: linear-gradient(180deg, #7a9f8f 0, #7f9e91 50%, #314e41);
  box-shadow: inset 0 0 0 0 #314e41, inset -1px -3px 0 0 #7f9e91, inset 0 2px 4px 2px #7a9f8f, 0 0 0 0 rgba(0, 0, 0, .2);
}

.progress-bar {
  background: linear-gradient(90deg, #3d5d80, #3d5d80, #3d5d80);
}

@tailwind utilities;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 2s linear infinite;
}
